/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* GLOBAL */
body {
    background: #1a1a1a;
    color: white;
}
section {
    padding: 70px 15%;
    opacity: 0;
    transform: translateY(40px);
    transition: 0.6s ease;
}
section.show {
    opacity: 1;
    transform: translateY(0);
}

/* NAV BAR */
header {
    background: rgba(0,0,0,0.7);
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    position: relative;
}
.nav-links a:hover::after {
    width: 100%;
}
.nav-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #00f5d4;
    bottom: -3px;
    transition: 0.3s;
}

/* HERO */
.hero {
    text-align: center;
    padding: 90px 0;
}
.hero h1 {
    font-size: 32px;
    margin-bottom: 10px;
}
.hero p {
    margin: 15px 0;
}
.hero-buttons .btn {
    background: #00f5d4;
    color: #000;
    padding: 10px 18px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    margin-right: 10px;
}
.hero-buttons .btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #00f5d4;
}

/* SKILLS */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 15px;
}
.skill-card {
    background: rgba(255,255,255,0.1);
    padding: 18px;
    border-radius: 12px;
    text-align: center;
    font-weight: 600;
}

/* PROJECTS */
.project-card {
    background: rgba(255,255,255,0.1);
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 10px;
}
.project-card a {
    text-decoration: none;
    color: #00f5d4;
    font-weight: 600;
}

/* CONTACT */
#contact p {
    margin: 10px 0;
}
