*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background: #0f2027;
    color:white;
    scroll-behavior:smooth;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:20px 60px;
    background:#111;
    position:sticky;
    top:0;
}

.logo{
    color:#00ffff;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav ul li a:hover{
    color:#00ffff;
}

/* HERO */
.hero{
    padding:60px 20px;
    text-align:center;
}

.profile-img{
    width:170px;
    height:170px;
    border-radius:50%;
    border:4px solid #00ffff;
    margin-bottom:20px;
    animation: float 3s infinite ease-in-out;
}

@keyframes float{
    0%{transform:translateY(0);}
    50%{transform:translateY(-15px);}
    100%{transform:translateY(0);}
}

.hero h1{
    font-size:40px;
    margin-bottom:10px;
}

.hero h3{
    color:#00ffff;
    margin-bottom:20px;
}

.buttons{
    margin-top:20px;
}

.btn{
    padding:10px 25px;
    background:#00ffff;
    color:black;
    border-radius:25px;
    text-decoration:none;
    margin:10px;
    display:inline-block;
    transition:0.3s;
}

.btn:hover{
    background:white;
}

/* SECTION */
.section{
    padding:60px 10%;
    text-align:center;
}

hr{
    border:1px solid #00ffff;
    width:80%;
    margin:0 auto;
}

/* EDUCATION */
.timeline{
    margin-top:30px;
}

.timeline-item{
    background:#1c2b35;
    padding:20px;
    margin:20px auto;
    width:70%;
    border-left:5px solid #00ffff;
    transition:0.3s;
}

.timeline-item:hover{
    transform:scale(1.05);
}

/* SKILLS */
.skills-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.skill-card{
    padding:15px 25px;
    background:#1c2b35;
    border-radius:20px;
    transition:0.3s;
}

.skill-card:hover{
    background:#00ffff;
    color:black;
    transform:translateY(-10px);
}

/* PROJECTS */
.project-card{
    background:#1c2b35;
    padding:20px;
    margin:20px auto;
    width:70%;
    border-radius:15px;
    transition:0.3s;
}

.project-card:hover{
    transform:scale(1.05);
}

.btn-small{
    display:inline-block;
    margin-top:15px;
    padding:8px 20px;
    background:#00ffff;
    color:black;
    border-radius:20px;
    text-decoration:none;
    transition:0.3s;
}

.btn-small:hover{
    background:white;
}
