*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background: #0f2027;
    color:white;
    scroll-behavior:smooth;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:20px 60px;
    background:#111;
    position:sticky;
    top:0;
}

.logo{
    color:#00ffff;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav ul li a:hover{
    color:#00ffff;
}

/* HERO */
.hero{
    padding:60px 20px;
    text-align:center;
}

.profile-img{
    width:170px;
    height:170px;
    border-radius:50%;
    border:4px solid #00ffff;
    margin-bottom:20px;
    animation: float 3s infinite ease-in-out;
}

@keyframes float{
    0%{transform:translateY(0);}
    50%{transform:translateY(-15px);}
    100%{transform:translateY(0);}
}

.hero h1{
    font-size:40px;
    margin-bottom:10px;
}

.hero h3{
    color:#00ffff;
    margin-bottom:20px;
}

.buttons{
    margin-top:20px;
}

.btn{
    padding:10px 25px;
    background:#00ffff;
    color:black;
    border-radius:25px;
    text-decoration:none;
    margin:10px;
    display:inline-block;
    transition:0.3s;
}

.btn:hover{
    background:white;
}

/* SECTION */
.section{
    padding:60px 10%;
    text-align:center;
}

hr{
    border:1px solid #00ffff;
    width:80%;
    margin:0 auto;
}

/* EDUCATION */
.timeline{
    margin-top:30px;
}

.timeline-item{
    background:#1c2b35;
    padding:20px;
    margin:20px auto;
    width:70%;
    border-left:5px solid #00ffff;
    transition:0.3s;
}

.timeline-item:hover{
    transform:scale(1.05);
}

/* SKILLS */
.skills-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.skill-card{
    padding:15px 25px;
    background:#1c2b35;
    border-radius:20px;
    transition:0.3s;
}

.skill-card:hover{
    background:#00ffff;
    color:black;
    transform:translateY(-10px);
}
/* INTERNSHIP SECTION */

.intern-card{
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    padding: 25px;
    margin: 30px auto;
    border-radius: 18px;
    width: 70%;
    transition: 0.4s;
}

.intern-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 25px #00ffff;
}

.intern-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
}

.intern-header h3{
    color:#00ffff;
}

.intern-card h4{
    margin-bottom:10px;
    font-weight:500;
}

.intern-card p{
    line-height:1.7;
    font-size:14px;
}

/* PROJECT SECTION */

.project-card{
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    padding: 25px;
    margin: 30px auto;
    border-radius: 18px;
    width: 70%;
    transition: 0.4s;
    position: relative;
    overflow: hidden;
}

.project-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 25px #00ffff;
}

.project-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
}

.project-header h3{
    color:#00ffff;
}

.year{
    background:#00ffff;
    color:black;
    padding:5px 12px;
    border-radius:20px;
    font-size:14px;
}

.project-card p{
    line-height:1.7;
    margin-bottom:15px;
    font-size:14px;
}

.view-btn{
    display:inline-block;
    padding:10px 20px;
    background:#00ffff;
    color:black;
    border-radius:25px;
    text-decoration:none;
    transition:0.3s;
}

.view-btn:hover{
    background:white;
    transform:scale(1.1);
}



